.StartPage {
  display: flex;
  flex-flow: column;

  .pageContainer {
    justify-content: space-around;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100vh;
  }

  .titleContainer {
    display: flex;
    align-self: center;
    flex-flow: column;
    padding: 15%;
    flex-grow: 2;

    .title {
      width: 600px;
      margin-left: 70px;
      margin-bottom: 40px;
    }
    .titleBottom {
      display: flex;
      flex-flow: row;
      .titleBar {
        width: 425px;
      }
    }
  }

  .shareBtn {
    align-self: flex-start;
    padding: 50px;
  }

  .playBtn {
    padding: 50px;
  }
}
