// Colors
$electricPink: #cd30d1;
$electricPurple: #841abc;
$darkBlue: #001c58;
$deepBlue: #003399;
$electricBlue: #33ffff;
$white: #ffff;

// transitions
$linear: all 0.5s 0.1s linear;
$ease-in: all 0.5s 0.1s ease-out;

// misc
$circleBtnWidth: 70px;
$circleBtnHeight: 70px;
$lateralBtnWidth: 7%;

//TODO: move it to variables.scss
:export {
  // Colors
  electricPink: $electricPink;
  electricPurple: $electricPurple;
  darkBlue: $darkBlue;
  deepBlue: $deepBlue;
  electricBlue: $electricBlue;
  white: $white;
  // transitions
  linear: $linear;
  ease-in: $ease-in;
}

// Fonts
@font-face {
  font-family: "Conforta";
  src: url("/fonts/Comfortaa-Regular.ttf") format("truetype");
}
$font-conforta: "Conforta", "Roboto", "Helvetica Neue", sans-serif;

@font-face {
  font-family: "LeagueGothic-condensed";
  src: url("/fonts/LeagueGothic-CondensedRegular.otf") format("truetype");
}
$font-lg-condensed: "LeagueGothic-condensed", "Roboto", "Helvetica Neue",
  sans-serif;

@font-face {
  font-family: "LeagueGothic-italic";
  src: url("/fonts/LeagueGothic-Italic.otf") format("truetype");
}
$font-lg-italic: "LeagueGothic-italic", "Roboto", "Helvetica Neue", sans-serif;

// Shadows
$shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
//TODO: move it to mixin.scss
@mixin sh-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin sh-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin sh-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin sh-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin sh-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body {
  width: 100%;
  height: 100vh;

  background-color: $darkBlue;
  margin: 0;
  font-size: 16px;
  color: whitesmoke;
  font-family: "Conforta", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
